@import "../../../styles/colors.scss";
@import "../../../styles/animations.scss";

.button {
  align-items: center;
  border: 1px solid transparent;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font: inherit;
  gap: 5px;
  justify-content: center;
  overflow: hidden;
  padding: 5px 8px;
  position: relative;
  width: 117px;

  .spinner {
    display: block;
    animation: spin 1s infinite;
  }

  input {
    display: none;
  }
}
