.row {
  margin-left: 0.5rem;
  margin-right: 0;
  background-color: #f8fafa;
  padding: 20px;
}

.content {
  background-color: #ebe6eb;
  padding: 20px;
  margin-top: 1rem;

  li {
    margin-bottom: 8px;
  }

  hr {
    margin-top: 23px;
  }
}

.additional {
  label {
    color: initial;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  input[type="checkbox"] {
    margin-top: 3px;
  }
}
