$border-color: #8d8d8d;

$tab-border-color: $border-color;
$tab-inactive-background-color: #ddd;
$tab-background-color: #fff;
$tab-text-color: #434343;
$tab-icon-color: #999;

$add-section-button-color: #f8f8f8;

$switch-background-color: #fff;
$switch-color: #adb5bd;

$overlay-color: rgba(#000, 0.5);
$modal-color: #fff;
$modal-border-color: #ccc;
$progress-border-color: #999;
$progress-color: #ddd;
