@import "../../styles/colors.scss";

.infoButton {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 6px;
  align-items: center;
  background-color: $tab-inactive-background-color;
  border: 1px solid $tab-border-color;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.overlay {
  background-color: $overlay-color;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: $modal-color;
  width: 500px;
  height: 400px;
  padding: 20px;
  position: relative;
  z-index: 110;
}

.closeButton {
  color: $tab-border-color;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.title {
  border-bottom: 1px solid $modal-border-color;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.metaSection {
  flex: 1;
  margin-top: 20px;

  &:last-of-type {
    text-align: right;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.progress {
  border: 1px solid $progress-color;
  border-radius: 4px;
  background-color: $modal-color;
  width: 100%;
  height: 30px;
  position: relative;

  .progressBar {
    background-color: $progress-color;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.description {
  height: 220px;
  overflow: auto;
}
