@import "../../../styles/colors.scss";

.sectionType {
  align-items: center;
  background-color: #032d46;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 34px;
  padding: 5px 10px;

  span {
    font-weight: bold;
    margin-right: 10px;

    &.label {
      font-weight: normal;
      user-select: none;
    }
  }

  .switch {
    input:checked ~ label::before {
      background-color: $switch-background-color;
      border-color: $switch-color;
    }

    input ~ label::after {
      background-color: #d8292b !important;
    }
  }
}

.readOnly {
  .label {
    display: none;
  }

  &.text {
    .text {
      display: block;
    }
  }

  &.checklist {
    .checklist {
      display: block;
    }
  }

  .switch {
    display: none;
  }
}
